<mat-toolbar
class="header"
fxLayout="row">
    <div >
        <button
        mat-icon-button
        (click)="onToggleSidenav()"
        class="menu-button">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
        <img
        src="./../../../assets/images/keep-mini.png"
        class="keep-icon">
        <span class="heading">Fundoo App</span>
        <mat-card class="input-card">
            <button mat-button>
                <mat-icon>search</mat-icon>
            </button>
                <div class="input-feild">
                <input
                type="search"
                placeholder="Search">
                </div>
        </mat-card>
    <div
    fxFlex
    fxLayout
    fxLayoutAlign="end"
    class="user-profile">
        <button
        mat-button
        [matMenuTriggerFor]="beforeMenu">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
            <div class="menu" >
                <div fxLayout="colume" fxLayoutAlign="center">
                    <button mat-raised-button (click)="logout()">Logout</button>
                </div>
            </div>
        </mat-menu>
    </div>
  </mat-toolbar>