.header{
    background-color: white;
}

.menu-button{
    border-radius: 100%;
    height: 7vh;
    width: 7vh;
    border-style: none;
    outline: none;
    cursor: pointer;
   margin-left: -9px;
}

.heading{
    font-weight: normal;
    margin-left: 1vw;
}

.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.heading{
    font-size: x-large;
}

.keep-icon{
    height: 7vh;
    padding: 5px;
}

.input-card{
    width: 47vw;
    height: 3vh;
    margin-left: 4vw;
    transition: none !important;
    box-shadow: none !important;
    background-color: #F1F3F4;
}

.input-card button{
    border: none;
    padding-bottom: 0.5vh;
    outline: none;
    pointer-events: none;
    background-color: transparent;
}

.input-feild{
    width: 44.6vw;
    margin-top: -40px;
    padding-left: 35px;
}

.input-feild input{
    width: 95%;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: lighter;
    background-color: #F1F3F4;
}

.user-profile{
    width:  80vw;
}

.user-profile button{
    border: none;
    background-color: white;
    outline: none;
    cursor: pointer;
}

.user-profile mat-icon{
    font-size: 35px;
    align-content: center;
}

.menu{
    height: 30vh;
    width: 10vw;
}

.user-icon mat-icon{
    font-size: 70px;
}

@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}

@media(max-width: 700px){
    .input-card{
        width: 0%;
        border-radius: 100%;
        background-color: white;
        cursor: pointer;
    }

    .input-feild{
        display: none;
    }

    .input-feild input{
        display: none;
    }

    .user-profile button{
        padding-right: none;
    }

    .input-card button{
        pointer-events: auto;
    }

    .input-card button:focus,.input-card button:hover{
        display: none;
    }
}