.main-container{
    margin-left: 5%;
    margin-right: 5%;
}

.display-box{
    background-color: white;
    margin-top: 1%;
    min-height: 100px;
    width: 250px;
    border-radius: 4%;
    border: 1px solid lightgray;

    input{
        margin-left: 5%;
        width: 80%;
        margin-top: 5%;
        background-color: white;
        border: none;
    }

    textarea{
        margin-left: 5%;
        width: 80%;
        background-color: white;
        border: none;
        resize: none;
    }
}

.buttons{
    i{
        display: none;
    }

    app-archive-button{
        display: none;
    }

    app-trash-button{
        display: none;
    }
}

.display-box:hover{
    box-shadow: 0 0 5px -2px #444444;
    i{
        display: block;
        color: lightgray;
    }

    app-archive-button{
        display: block;
        color: lightgray;
    }

    app-trash-button{
        display: block;
        color: lightgray;
    }

    i:hover{
        color: gray;
    }

    app-archive-button:hover{
        color: gray;
    }

    app-trash-button:hover{
        color: gray;
    }
}