<div style="margin-left: 20%;margin-right: 20%; margin-top: 2%;">
    <mat-grid-list cols="3" rowHeight="2:1" [gutterSize]="'20px'">
        <ng-container *ngFor="let note of notes">
            <mat-grid-tile *ngIf="(!note.isArchived && !note.isDeleted) || (note.isDeleted) || (note.isArchived && !note.isDeleted)">
                <mat-card  class="active-add-note" style="width: 100%;">
                    <div
                    fxLayout="row"
                    class="active-input">
                    <input
                    type="text"
                    placeholder="Title"
                    value="{{note.title}}"
                    disabled/>
                </div>
                <div
                fxLayout="row"
                class="note-input">
                    <textarea
                    type="text"
                    placeholder="Take a note..."
                    value="{{note.description}}"
                    disabled>
                </textarea>
                </div>
                <div
                fxLayout="row"
                fxLayoutAlign="space-between center"
                class="icons">
                    <div fxLayout="row">
                    <i
                    class="fas fa-palette"
                    style="font-size: 20px;">
                    </i>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span (click)="passNoteId(note.id,'archieve')">
                    <i
                    class="fas fa-archive"
                    style="font-size: 20px;">
                </i></span>
                &nbsp;&nbsp;&nbsp;&nbsp;
                    <span (click)="passNoteId(note.id,'trash')">
                    <i
                    class="fas fa-trash"
                    style="font-size: 20px;">
                </i></span>
                    </div>
                </div>
            </mat-card>
        </mat-grid-tile>
    </ng-container>
</mat-grid-list>
</div>