.main-container{
    margin-left: 5%;
    margin-right: 5%;
}

.display-box{
    margin-top: 1%;
    min-height: 100px;
    width: 250px;
    border-radius: 4%;
    border: 1px solid lightgray;

    input{
        margin-left: 5%;
        width: 80%;
        margin-top: 5%;
        border: none;
    }

    textarea{
        margin-left: 5%;
        width: 80%;
        border: none;
        resize: none;
    }
}

.buttons{
    i{
        display: none;
    }

    app-archive-button{
        display: none;
    }

    app-trash-button{
        display: none;
    }

    app-color-panel{
        display: none;
    }
}

.display-box:hover, .display-box:focus{
    outline: none;
    box-shadow: 0 0 5px -2px #444444;
    i{
        display: block;
        color: gray;
    }

    app-archive-button{
        display: block;
        color: gray;
    }

    app-trash-button{
        display: block;
        color: gray;
    }

    app-color-panel{
        display: block;
        color: gray;
    }

    i:hover{
        color: black;
    }

    app-archive-button:hover{
        color: black;
    }

    app-trash-button:hover{
        color: black;
    }

    app-color-panel:hover, app-color-panel:focus{
        color: black;
    }
}