.title-input input{
    width: 100%;
    display: none;
}

.active-input input{
    display: block;
    height: 2vh;
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    padding-bottom: 3%;
    font-weight: bolder;
}

.note-input textarea{
    height: 2vh;
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    resize: none;
    scroll-margin: none;
    overflow:hidden;
    font-weight: bolder;
}

.note-input textarea:disabled {
    background: #ffffff;
  }
.active-input input:disabled{
    background: #ffffff;
}

.icons i, .icons button{
    display: none;
    color: lightgray;
}

.icons i:hover, .icons button:hover{
    color: gray;
    display: none;
}

.close-button{
    padding: 0.25vh 1.8vw;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: white;
}

.close-button:hover{
    color: grey;
}

.active-add-note{
    min-height: 12vh;
    width: 50vw;
    border-radius: 2%;
    outline: none;
    border-radius: 4%;
    textarea{
        min-height: 8vh;
    }

    input{
        display: block;
    }
}

.active-add-note:hover{
    margin: 0.1em;
    padding: 1.5em;
    i, button{
        display: block;
    }
}
