<mat-card>
    <div class="login-heading" fxLayout="row">
        <p class="blue-letter">F</p>
        <p class="red-letter">u</p>
        <p class="yellow-letter">n</p>
        <p class="blue-letter">d</p>
        <p class="green-letter">o</p>
        <p class="red-letter">o</p>
    </div>
    <div>
        Sign in
    </div>
    <div>
        Continue to Fundoo
    </div>
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Email Id*</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field appearance="fill" class="password">
            <mat-label>Password*</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </form>
      <button mat-raised-button>Log In</button>
</mat-card>