<div fxLayoutAlign="center">
<mat-card class="main-card">
    <div class="login-heading" fxLayout="row" fxLayoutAlign="center">
        <span class="blue-letter">F</span>
        <span class="red-letter">u</span>
        <span class="yellow-letter">n</span>
        <span class="blue-letter">d</span>
        <span class="green-letter">o</span>
        <span class="red-letter">o</span>
    </div>
    <div class="sign-in" fxLayoutAlign="center">
        Sign in
    </div>
    <div class="welcome" fxLayoutAlign="center">
        Continue to Fundoo
    </div>
    <form [formGroup]="loginForm" class="login-form" (ngSubmit)="login()">
        <mat-form-field class="login-full-width">
          <mat-label>Email Id</mat-label>
          <input matInput formControlName="email" required>
        </mat-form-field>

        <mat-form-field class="login-full-width">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
             [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <button mat-raised-button class="login-button" type="submit" [disabled]="!loginForm.valid">
            Log In
        </button>
    </form>
</mat-card>
</div>