$blue: #0606F8;
$red: #D10303;
$yellow: #F0B000;
$green: #2D9C2D;

.login-heading{
    font-size: 26px;
    font-weight: bolder;
}

.blue-letter{
    color: $blue;
}

.red-letter{
    color: $red;
}

.yellow-letter{
    color: $yellow;
}

.green-letter{
    color: $green;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    background-color: #ffffff;
  }

  .example-full-width {
    width: 100%;
  }

  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .example-right-align {
    text-align: right;
  }

  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }

  input.example-right-align {
    -moz-appearance: textfield;
  }

  .password{
      color: white;
  }

  .password button{
    border-style: none;
    outline: none;
    background-color: white;
  }