.login{
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-mat-card{
  position: fixed;
  min-height: 500px;
  height: auto;
  min-width: 420px;
  width: auto;
  border: 2px solid #5e5c5c2c;
  box-shadow: none;
  border-radius: 10px;
}

.fundoo{
  margin-top: 40px;
  font-size: 25px;
  font-weight: bold;
}

.blue{
  color: #4285f4;
}

.yellow{
  color: #fbbc05;
}

.red{
  color:#ea4335;
}

.green{
  color: #34a853;
}
.sub-class-one, .sub-class-two{
  width: 100%;
  height: 56px;
  font-size: 15px;
  padding: 0px 13px;
  border-radius: 5px;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 90%;
}

.input-box-one{
  width: 100%;
  outline: none;
}

.input-box{
  width: 100%;
  margin-top: 7vh;
  padding: 8px 0px 0px;
  outline: none;
}

.sign-in-btn{
  background-color: var(--gm-fillbutton-container-color,#1a73e8);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-size: medium;
  padding: 1.3vh 1.8vw;
}

.signin{
  margin-top: 35px;
  font-size: 28px;
  font-weight: 400;
}

.account{
  margin-top: 25px;
  font-size: 16px;
}

.btn-class{
  margin-top: 35px;
}

a:-webkit-any-link {
  color: var(--gm-fillbutton-container-color,#1a73e8);
  cursor: pointer;
  text-decoration: underline;
  font-size: 18px;
}

.hide-button{
  outline: none;
  background-color: #ffffff;
  border: none;
}