mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 89vh;
}

mat-sidenav {
    width: 250px;
}

main {
    padding: 10px;
}

.open {
 width: 250px;
}

.close{
width:60px;
}

.mat-list-item.active{
    color: red;
  }